* {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  background-color: #609966;
}
.header {
  display: flex;
}

.buttons {
  display: inline-block;
  width: 60%;
  display: flex;
  font-size: 24px;
  margin: 86px 150px;
}

.buttons a {
  margin-right: 160px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.buttons li {
  flex-wrap: wrap;
  display: inline;
  list-style: none;
  transition: transform 500ms ease;
  background-color: #9DC08B;
  padding: 10px 60px;
  border-radius: 28px;
}
.buttons li:hover {
  transform: scale(1.05);
  background-color: #EDF1D6;
}

/*contacts...*/
.contacts {
  display: inline-block;
  width: 40%;
}

.contacts a {
  margin: 10px;

}

.clickable_btns {

}

.clickable_btns a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.phone svg {
  margin: 10px;
  position: relative;
}
.phone::after {
  position: absolute;
  content: '8 (778) 522 00 38';
  margin-top: 15px;
  margin-left: 10px;
}