* {
  margin: 0;
  padding: 0;

}

body {
  color: #000000;
  background-color: #609966;
}

/*buttons...*/

.buttons {
  font-size: 24px;
  margin: 86px 150px;
}
.buttons a {
  text-decoration: none;
  margin-right: 160px;
}
.buttons li {
  color: black;
  font-family: 'Poppins', sans-serif;
  display: inline;
  border-radius: 28px;
  background-color: #9DC08B;
  padding: 10px 60px;
  transition: 0.3s;
}
.buttons li:hover {
  background-color: #EDF1D6;
  border-bottom: #111111 solid 3px;
}

/*contacts...*/

